{% extends 'base.html' %}
{% block title %}Lobby{% endblock %}
{% block header %}Lobby{% endblock %}
{% block content %}
  <div id="playerList">
    <h2>{{ g.user['username'] }}</h2>
    <a class="action" href="{{ url_for('figure.create') }}">New Figure</a>
    <hr>
    {% for figure in figures %}
      <h2>{{ figure['figure_name'] }}</h3>
      <p>by {{ figure['username'] }}</p>
      {% if g.user['id'] == figure['user_id'] %}
        <a class="action" href="{{ url_for('figure.update', id=figure['id']) }}">Edit</a>
      {% endif %}
      <p id="{{ figure['figure_name'] }}">
        <b>STRENGTH: {{ figure['strength'] }}, DX:{{ figure['dexterity'] }}</b>
      </p>
      <hr>
    {% endfor %}
  </div>
  <div>
    <h2>Welcome to the Lobby</h2>
    <hr>
    <textarea name="status" id="status" cols="40" rows="20"></textarea>
  </div>
  <div id="otherUsers">
    <h2> Users</h2>
    <hr>
    {% for user in users %}
      {% if g.user['id'] != user['id'] %}
        <h2>{{ user['username'] }}</h2>
        <hr>
      {% endif %}
    {% endfor %}
  </div>
  <div id="gameList">
    <h2>Games</h2>
    {% if g.user %}
      <form id='new_game' action="{{ url_for('game.create') }}" method="post">
        <button type="submit" name="creator" value="{{ g.user['username'] }}">Create Game</button>
      </form>
    {% endif %}
    {% if g.user %}
      <ul>
        {% for game in games %}
          <li><b>Game {{ game['id'] }}</b>
          <a class="action" href="{{ url_for('game.join', game_id=game['id'], user_id=g.user['id']) }}">Join</a>
          {% if game['owner'] == g.user['username'] %}
            <form action="{{ url_for('game.delete', game_id=game['id']) }}" method="post">
              <input class="danger" type="submit" value="Delete" onclick="return confirm('Are you sure?');">
            </form>
          {% endif %} -->
          </li>
        {% endfor %}
      </ul>
    {% endif %}
  </div>  
</div>
</body>
{% endblock content%}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/reconnecting-websocket/1.0.0/reconnecting-websocket.min.js" defer></script>
  <script type="text/javascript">
    var users = '{{ users }}';
    var figures = '{{ figures }}';
    var games = '{{ games }}';
    var refreshGames = '{{ refresh_games }}'
  </script>
<script type="text/javascript" src="/static/js/lobby.js" defer></script>
