{% extends 'base.html' %}
{% block title %}Lobby{% endblock %}
{% block header %}Lobby{% endblock %}
{% block content %}
  <div id="playerList">
    <h2>{{ g.user['username'] }}'s figures</h2>
    <a class="action" href="{{ url_for('figure.create') }}">New Figure</a>
    <hr>
    {% for figure in figures %}
      {% if g.user['id'] == figure['user_id'] %}
        <p><b>{{ figure['figure_name'] }}</b></p>
        <p id="{{ figure['figure_name'] }}">
          ST: {{ figure['strength'] }}, DX:{{ figure['dexterity'] }}
        </p>
        <a class="action" href="{{ url_for('figure.update', id=figure['id']) }}">Edit</a>
        <hr>
      {% endif %}
    {% endfor %}
  </div>
  <div>
    <h4>Welcome to the Lobby</h4>
    <textarea name="status" id="status" cols="40" rows="20"></textarea>
  </div>
  <div id="otherUsers">
  </div>
  <div id="games">
    <h3>Games</h3>
      <button name="new_game" id="new_game">Create Game</button>
      <div id="gamesList">
  </div>  
</div>
<script type="text/javascript" nonce="{{ csp_nonce() }}>
   var games = '{{ games|tojson }}'
   var thisUser = '{{ thisUser|tojson|safe }}'
   var users = '{{ users|tojson|safe }}'
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
<script type="text/javascript" src="/static/js/ui_elements.js" nonce="{{ csp_nonce() }}"></script>
<script type="text/javascript" src="/static/js/lobby.js" nonce="{{ csp_nonce() }}"></script>
</body>
{% endblock content%}
