<!DOCTYPE html>
<head>
  <title>{% block title %}{% endblock %} - Fistfight!</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<nav>
  <h1>Fistfight! - {% block header %}{% endblock %}</h1>
  <ul>
    {% if g.user %}
      <div>
        <p style="text-align:right">
          Logged in as <b>{{ g.user['username'] }}</b>
          <br>
          <a href="{{ url_for('auth.logout') }}">Log Out</a>
          <br>
          <a href="{{ url_for('lobby.index') }}">Lobby</a>
        </p>
      </div>
      
    {% else %}
      <li><a href="{{ url_for('auth.register') }}">Register</a>
      <li><a href="{{ url_for('auth.login') }}">Log In</a>
    {% endif %}
  </ul>
</nav>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
<section class="content">
  <div class="flex-container">
    {% block content %}
    {% endblock content%}
  </div>
</section>