<!doctype html>
<title>{% block title %}{% endblock %} - Fistfight!</title>
<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
<nav>
  <h1>Fistfight!</h1>
  <ul>
    {% if g.user %}
      <div>
        <p style="text-align:right">
          Logged in as <b>{{ g.user['username'] }}</b>
          <br>
          <a href="{{ url_for('auth.logout') }}">Log Out</a>
        </p>
      </div>
      
    {% else %}
      <li><a href="{{ url_for('auth.register') }}">Register</a>
      <li><a href="{{ url_for('auth.login') }}">Log In</a>
    {% endif %}
  </ul>
</nav>
<section class="content">
  <div class="flex-container">
    {% block content %}{% endblock content%}
  </div>
</section>