{% extends 'base_new.html' %}

{% block content %}
  <div id="playerList">
    {% for figure in figures %}
      <h2>{{ figure['figure_name'] }}</h3>
      <p>by {{ figure['username'] }}</p>
      {% if g.user['id'] == figure['user_id'] %}
        <a class="action" href="{{ url_for('figure.update', id=figure['id']) }}">Edit</a>
      {% endif %}
      <p id="{{ figure['figure_name'] }}">
        <b>STRENGTH: {{ figure['strength'] }}, DX:{{ figure['dexterity'] }}</b>
      </p>
    {% endfor %}
  </div>
  <div>
    <h2>Fistfight!</h2>
    <textarea name="status" id="status" cols="40" rows="20"></textarea>
  </div>
  <div id="gameList">
    <h2>Games</h2>
    {% if g.user %}
      <form action="{{ url_for('game.create') }}" method="post">
        <button type="submit" name="creator" value="{{ g.user['username'] }}">Create Game</button>
      </form>
    {% endif %}
    {% if g.user %}
      {% for game in games %}
        <b>{{ game['id'] }}</b>
        <a class="action" href="{{ url_for('lobby.join', game_id=game['id'], user_id=g.user['id']) }}">Join Game</a>
      {% endfor %}
    {% endif %}
  </div>  
</div>
{% endblock content%}